@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

*{
  margin: 0;
  border: 0;
  padding:0;
}
header{
  width: 100%
  height: 100px
  top: 0;
  left: 0;
  background:#999;
}
body {
  background: #F1F6F8;
  font-family: Helvetica;
  margin: 0 auto;
}
navbar-wrapper{
  left: 0px;
  width: 980px;
  position: absolute;
  top: 168px;
  height: 28px;
  background: #999;
  color: #CDCDCD;
}
navbar-wrapper ul li{
  background: #999;
  color: #CDCDCD;
  display: inline-block;
  padding: 0 10px;
  margin:0px;
}
navbar-wrapper ul li a{
  color:#CDCDCD;
}
img.mid-img{
  max-width: 50%;
  max-height: 50%;
  margin: 0 auto;
  /*height: auto;*/
  width: auto;
  /*margin-bottom: -4px;*/
}
/*
wrapper{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
banner{
width: 980px;
position: absolute;
top: 200px;
height: 570px;
left: 0px;
} */
banner-inner{
overflow: hidden;
left: 0px;
width: 980px;
position: absolute;
top: 20px;
height: 550px;
}

banner-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
